:root {
    --color1: #1a1668;
    --color2: #EAA451;
    --color3: white;
    --colorGray: #C5C5C5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");




.d-flex p {
    font-size: 15px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bgcolor2 {
    background: var(--color1);
}
.formContact {
    color: var(--color1);
}
.bgcolor2 {
color:var(--color3);
}
    .bgcolor2 i {
        color: var(--color2);
    }
.bgcolor2 h4{
    color:var(--color2);
    font-weight:bold;
}
