@model LoginViewModel
@{
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
    ViewBag.Title = "Profile";
    //var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(Model.book.photoPath) ? "images.png" : Model.book.photoPath);

}
<div class="login pt-5 pb-5 m-5 h-100">
    <div class="container pt-4 pb-4">
        <div class="boxLogin row d-flex justify-content-between">
            <div class="create d-flex flex-column col-lg-6 col-md-6 col-sm-12">
                <h1>
                    NEW CUSTOMER
                </h1>
                <p>
                    By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
                </p>
                <a asp-action="Create" asp-controller="Account" class="btn">CREATE AN ACCOUNT</a>
                <a asp-action="index" asp-controller="Home" class="btn text-decoration-underline">back to Home</a>               
                <a asp-action="restPassword" asp-controller="Account" class="text-bg-secondary text-decoration-underline">Rest Password</a>


            </div>
            <form method="post" class="col-lg-6 col-md-6 col-sm-12" asp-action="login" asp-controller="Account" enctype="multipart/form-data" asp-route-returnurl="@Context.Request.Query["returnurl"]">
                <h1>Login</h1>
                <div class="mb-3">
                    <div id="emailHelp" class="form-text fs-6">
                        If you have an account with us, please log in.
                    </div>
                    <label for="exampleInputEmail1" class="form-label" asp-for="Email">E-MAIL</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" asp-for="Password">PASSWORD</label>
                    <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
                    <span class="text-danger" asp-validation-for="Password"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Rememberme">Remember Me</label>
                    <input type="checkbox" class="w-auto" asp-for="Rememberme">
                </div>
                <div class="loginbtn d-flex gap-3 justify-content-start align-items-center">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>