
@model RestPassword
@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
    ViewBag.Title = "Profile";
    //var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(Model.book.photoPath) ? "images.png" : Model.book.photoPath);

}
@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> signInManager;
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> userManager;

<div class="login pt-5 pb-5">
    <div class="container pt-4 pb-4">
        <div class="boxLogin row d-flex justify-content-between">
            <div class="create d-flex flex-column col-lg-6 col-md-6 col-sm-12">
                <h1>
                    NEW CUSTOMER
                </h1>
                <p>
                    By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
                </p>
                <a href="#" class="btn">CREATE AN ACCOUNT</a>
            </div>
            <form method="post" asp-action="RestPassword" asp-controller="account" enctype="multipart/form-data" class="col-lg-6 col-md-6 col-sm-12">
                <h1>REST PASSWORD</h1>
                <div class="mb-3">
                    <label class="form-label" asp-for="Email">E-mail</label>
                    <input type="email" class="form-control" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <div id="emailHelp" class="form-text fs-6">
                        Please enter E-Mail To send Code to rest Password.
                    </div>
                    <label class="form-label" asp-for="Password">New Password</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                </div>

                <div class="loginbtn d-flex gap-3 justify-content-start align-items-center">
                    @if (signInManager.IsSignedIn(User))
                        {
                        <a asp-action="profile" asp-controller="account" asp-route-id="@User.Identity.Name" class="btn Btnsecondary">Back</a>
                        }
                    else
                        {
                        <a asp-action="login" asp-controller="account" class="btn Btnsecondary">Back</a>
                        }
                    <button type="submit" class="btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>