@model ContactUs

@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
    ViewBag.Title = "Contact Us";
}
<div class="container p-5">
    <div class="row">
        <form class="col-md-7 p-4" asp-action="ContactUs" asp-controller="Home" enctype="multipart/form-data" method="post"> 
            <h4 class="formContact fw-bold">Get in touch</h4>
           
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" asp-for="Descrption">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Descrption"></textarea>
                <span class="text-danger" asp-validation-for="Descrption"></span>

            </div>
            <button class="btn">Submit</button>
        </form>
        <div class="col-md-5 bgcolor2  p-4">
            <h4 >Contact us</h4><hr>
            <div class="mt-4">
                <div class="d-flex">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>Address:Amman-Jordan</p>
                </div><hr>
                <div class="d-flex">
                    <i class="bi bi-telephone-fill"></i>
                    <a style="color:white" href="tell:+9627769244"><p>Contact :+962776924478</p></a>
                </div><hr>
                      <div class="d-flex">
                          <i class="bi bi-envelope-fill"></i>
                          <a style="color:white" href="Mailto:ramimatarneh76@gmail.com"><p>Email:- ramimatarneh76@gmail.com</p></a>
                          
                      </div><hr>
            </div>
        </div>
    </div>
</div>