@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
    ViewBag.Title = "Create Basic";
    //var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(Model.book.photoPath) ? "images.png" : Model.book.photoPath);

}
<div class="createBasic pt-5 pb-5">
    <div class="container d-flex justify-content-center align-items-center">
        <form class="BasicInfo w-75 d-flex flex-column mb-5">
            <h6 class="w-100 headerCreate">BASIC INFORMATION</h6>
            <div class="mb-3">
                <label class="form-label">Full Name:</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3 ">
                <label class="form-label">Professional title:</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3 ">
                <label class="form-label">Languages:</label>
                <select class="form-select Languages" aria-label="Default select example">
                </select>
            </div>
            <div class="mb-3  gap-3 ">
                <label class="form-label">Gender:</label>
                <div class="d-flex gap-4">
                    <div class="form-check d-flex justify-content-center align-items-center gap-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Male
                        </label>
                    </div>
                    <div class="mb-3 form-check d-flex justify-content-center align-items-center gap-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Image:</label>
                <input type="file" class="form-control">
            </div>
            <div class="mb-3 mt-3 d-flex justify-content-start align-items-end gap-4">
                <a asp-controller="home" asp-action="login" class="btn Btnsecondary w-25 ">Back</a>
                <input type="submit" class="btn w-25" value="Next">
            </div>
        </form>
    </div>
</div>