@{ 
    ViewBag.Title = "Home";
} 
<div class="landing">
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="silde d-flex align-items-center">
                            <div class="landingInfo  mb-2">
                                <h1>WELCOME TO <span>Kita</span><span style="font-size:55px">B</span></h1>
                                <h1>Online Library</h1>
                                <p>
                                    Enjoy reading books from our amazing library that contains hundreds of books
                                </p>
                                <a class="btn Btnborder" href="#">Go Library</a>
                            </div>
                            <div class="landingimg">
                                <img src="~/ImagePage/landing.png" />
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="silde d-flex  align-items-center">
                            <div class="landingInfo  mb-2">
                                <h1>Digital</h1>
                                <h1>Book Store</h1>
                                <p>With KitaB, you can buy books or sell books you have written. Our website features a book borrow service</p>
                                <a class="btn Btnborder" href="#">GET Started</a>
                            </div>
                            <div class="landingimg">
                                <img src="~/ImagePage/17987-removebg-preview (1).png" />
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="silde d-flex align-items-center">
                            <div class="landingInfo mb-2">
                                <h1>Time to Read</h1>
                                <h3>
                                    How to Determine a Reading Schedule
                                </h3>
                                <p>You can organize your reading time by signing a schedule. Our website provides this service. We send you an alert message to remind you of the exact date.</p>
                                <a class="btn Btnborder" href="#">Schedule Now</a>

                            </div>
                            <div class="landingimg">
                                <img src="~/ImagePage/2012.i602.006_online_library_flat-removebg-preview (1).png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>