@{ 
    ViewBag.Title = "Home";
} 
<div class="landing">
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <div class="splide__list">
                    <div class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="silde d-flex justify-content-between align-items-center">
                            <div class="landingInfo">
                                <h1>WELCOME TO <span>Kita</span><span style="font-size:60px">B</span></h1>
                                <h1>Online Library</h1>
                                <p>
                                    Enjoy reading books from our amazing library that contains hundreds of books
                                </p>
                                <a class="btn Btnborder" href="#">Go Library</a>
                            </div>
                            <div class="landingimg">
                                <img src="~/ImagePage/landing.png" />
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="silde d-flex justify-content-between align-items-center">
                            <div class="landingInfo">
                                <h1><span>Kita</span><span style="font-size:60px">B</span></h1>
                                <h1>Online Library</h1>
                            </div>
                            <div class="landingimg">
                                <img src="~/ImagePage/landing.png" />
                            </div>
                        </div>
                    </div>
                    <div class="splide__slide d-flex justify-content-center align-items-center">
                        <div class="silde d-flex justify-content-between align-items-center">
                            <div class="landingInfo">
                                <h1><span>Kita</span><span style="font-size:60px">B</span></h1>
                                <h1>Online Library</h1>
                            </div>
                            <div class="landingimg">
                                <img src="~/ImagePage/landing2.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>