@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
    ViewBag.Title = "Profile";
    //var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(Model.book.photoPath) ? "images.png" : Model.book.photoPath);

}
<div class="login pt-5 pb-5">
    <div class="container pt-4 pb-4">
        <div class="boxLogin row d-flex justify-content-between">
            <div class="create d-flex flex-column col-lg-6 col-md-6 col-sm-12">
                <h1>
                    NEW CUSTOMER
                </h1>
                <p>
                    By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
                </p>
                <a href="#" class="btn">CREATE AN ACCOUNT</a>
            </div>
            <form method="post" class="col-lg-6 col-md-6 col-sm-12">
                <h1>REST PASSWORD</h1>
                <div class="mb-3">
                    <div id="emailHelp" class="form-text fs-6">
                        Please enter E-Mail To send Code to rest Password.                        .
                    </div>
                    <label for="exampleInputEmail1" class="form-label">E-MAIL</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="loginbtn d-flex gap-3 justify-content-start align-items-center">
                    <a asp-action="Login" asp-controller="Home" class="btn Btnsecondary">Back</a>
                    <button type="submit" class="btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>