@model ListOfBook
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </environment>
    <link href="~/cssfile/navbarCss.css" rel="stylesheet" />
    <link href="~/cssfile/AnimationCssFile.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/splidejs/css/splide.min.css" rel="stylesheet" />
    <link href="~/cssfile/landing.css" rel="stylesheet" />
    <link href="~/cssfile/latestBook.css" rel="stylesheet" />
    <link href="~/cssfile/ServiceCss.css" rel="stylesheet" />
    <link href="~/cssfile/BestSellerCss.css" rel="stylesheet" />
    <link href="~/cssfile/aboutCSS.css" rel="stylesheet" />
    <link href="~/cssfile/ourMission.css" rel="stylesheet" />
    <link href="~/cssfile/ourMission.css" rel="stylesheet" />
    <link href="~/cssfile/CountNumberI.css" rel="stylesheet" />
    <link href="~/cssfile/KindOfBooksCss.css" rel="stylesheet" />
    <link href="~/cssfile/DeliveryCSS.css" rel="stylesheet" />
    <link href="~/cssfile/OurPricingCss.css" rel="stylesheet" />
    <link href="~/cssfile/ScheduleCalenderCSS.css" rel="stylesheet" />
    <link href="~/cssfile/FooterCss.css" rel="stylesheet" />
    @* start font  *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    @* end font  *@

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar1 mt-3">
        <div class="container">

            <div class="nav1Logo d-flex align-items-center justify-content-between">
                <a class="logo navbar-brand d-flex" href="#">
                    <img src="~/ImagePage/logo.png" /><span class="logoP1">Kita</span><span class="logoP2" asp-append-version="true">B</span>
                </a>
                <div class="dropListIcon d-flex justify-content-evenly align-items-center flex-column" id="dropListIcon">
                    <span class=""></span>
                    <span class=""></span>
                    <span class=""></span>
                </div>
            </div>
            <div class="nav1Info d-flex align-items-center justify-content-between">
                <form class="searchBox">

                    <select class="form-select" asp-for="@Model.KindOfBooks" asp-items="Html.GetEnumSelectList<KindOfBooks>()">
                        <option></option>
                    </select>

                    <input class="form-control me-2" type="search" placeholder="Search Books here" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
                <div class="iconNav  iconNavAdmin1">
                    <div class="iconNavs d-flex">
                        <a href="#"><i class="fa-solid fa-heart"></i></a>
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <a class="Admin d-flex justify-content-between" href="#">
                        <img src="~/ImagePage/img_avatar.png" alt="Alternate Text" asp-append-version="true"/>
                        <div class="AdminInfo d-flex justify-content-between align-items-start flex-column">
                            <span class="adminName">Name</span>
                            <span class="adminEmail">Email@gmail.com</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbarToLeft">
        <div class="container">
            <div class="iconNav iconNavAdmin2">
                <div class="iconNavs d-flex">
                    <a href="#"><i class="fa-solid fa-heart"></i></a>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <a class="Admin d-flex justify-content-between" href="#">
                    <img src="~/ImagePage/img_avatar.png" alt="Alternate Text" asp-append-version="true"/>
                    <div class="AdminInfo d-flex justify-content-between align-items-start flex-column">
                        <span class="adminName">Name</span>
                        <span class="adminEmail">Email@gmail.com</span>
                    </div>
                </a>
            </div>
            <div class="nav2 d-flex justify-content-between">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="index" asp-controller="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Store" asp-controller="Home">Store</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Library
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">All Books</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>

                </ul>
                <a class="btn" asp-controller="Home" asp-action="AddBook">Upload Book</a>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @* start footer *@
    <div class="footer pt-5">
        <div class="container">
            <div class="row footerSections">
                <div class="footer1 col-xl-3 col-md-12 col-sm-12 footer1 d-flex  flex-column gap-2">
                    <a class="logo navbar-brand d-flex" href="#">
                        <img src="~/ImagePage/logo.png" /><span class="logoP1 logoFooter">Kita</span><span class="logoP2" asp-append-version="true">B</span>
                    </a>
                    <p>KitaB is a Book Store Ecommerce Website Template by Rami Ali Matarneh (opsCode59)</p>
                    <div class="socialMedia d-flex justify-content-center align-items-center gap-3">
                        <a><i class="fa-brands fa-facebook-f"></i></a>
                        <a><i class="fa-brands fa-youtube"></i></a>
                        <a><i class="fa-brands fa-linkedin"></i></a>
                        <a><i class="fa-brands fa-github"></i></a>
                        <a><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class=" row-cols-sm-4 footer2 col-xl-6 col-md-8 c-sm-12">
                    <div class="footer2Box col-xl-4 col-md-4 col-sm-4">
                        <h5>Our Links</h5>
                        <div class="ourLinks">
                            <a asp-action="index" asp-controller="home"><i class="fa-solid fa-angle-right"></i> Home</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Store</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Library</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Blog</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Schedule</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> About Us</a>
                        </div>
                    </div>
                    <div class="footer2Box col-xl-4 col-md-4 col-sm-4">
                        <h5>KitaB</h5>
                        <div class="KitaB">
                            <a asp-action="index" asp-controller="home"><i class="fa-solid fa-angle-right"></i> Home</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Services</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Book Details</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Our Pricing</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Event Calender</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Free Delivery</a>
                        </div>
                    </div>
                    <div class="footer2Box col-xl-4 col-md-4 col-sm-4">
                        <h5>Resources</h5>
                        <div class="Resources">
                            <a href="#"><i class="fa-solid fa-angle-right"></i> DownLoad</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Help Center</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Shop Cart</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Loign</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Parthner</a>
                            <a href="#"><i class="fa-solid fa-angle-right"></i> Upload Books</a>
                        </div>
                    </div>
                </div>
                <div class="footer3Box col-xl-3 col-md-4 col-sm-12">
                    <h5>
                        Get in Touch With Us
                    </h5>
                    <div class="location"><i class="fa-solid fa-location-dot"></i> Amman - Jordan</div>
                    <div class="phone"><i class="fa-solid fa-phone"></i> +962776924478</div>
                    <div class="email"><i class="fa-solid fa-envelope"></i> ramimatarneh76@gmail.com</div>
                </div>
                </div>
        </div>
        <div class="copyRight  d-flex justify-content-center align-items-center pt-3 pb-3">
            <div class="container d-flex justify-content-between align-items-center">
                <p>
                    KitaB Book Store Ecommerce Website - © 2023 All Rights Reserved
                </p>
                <p>Made with <i class="fa-solid fa-heart fa-beat grayColor"></i> by <span>Rami Ali Matarneh</span></p>
            </div>
        </div>
    </div>
    @* end footer *@
    <div class="toUp toRight">
        <i class="fa-solid fa-arrow-up fa-beat-fade"></i>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="~/font-awesome/js/all.min.js"></script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jsFile/dropDownJs.js"></script>
    <script src="~/splidejs/js/splide.min.js"></script>
    <script src="~/jsFile/AnimationJS.js"></script>
    <script src="~/jsFile/ScheduleCalendarJs.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('#carousel1', {
                type: 'fade',
                rewind: true,
            }).mount();

            new Splide('#carousel2', {
                type: 'loop',
                drag: 'free',
                focus: 'center',
                perPage: 5,
                autoplay: true,
                interval: 3000,
                speed: '1000',
                breakpoints: {
                    640: {
                        perPage: 1,

                    },
                    767: {
                        perPage: 2,

                    },
                    1024: {
                        perPage: 3,

                    },
                },
            }).mount();
            new Splide('#carousel3', {
                type: 'loop',
                perPage: 1,
                autoplay: true,
                interval: 3000,
                speed: 1500,
                speed: '1500',
                focus: 'center',
            }).mount();
        });

    </script>
</body>
</html>
